.contact_a {
	text-transform: none;
	margin-left: 5px;
	color: #292b34!important;
}
.bg_primary-black {
	background-color: #292b34;
}
						   .menu-toggle {
							color: #f8f6f1!important;
							cursor: pointer;
						   }
						   a.mail {
							   text-transform: unset;
							   color: #f8f6f168!important;
							   text-decoration: none;
							   margin-left: 8px;
						   }
						   .contact {
							text-transform: unset;
							color: #f8f6f168!important;
							   text-decoration: none;
							   margin-left: 8px;
						   }
						   a.mail:hover {
							color: #f8f6f1!important;
						   }
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.text-decoration-none {
	text-decoration: none!important;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
						   .container {
							   max-width: 1280px;
						   }
						   .offcanvas-body,
						   .menu {
							   max-width: 1100px;
							   width: 100vw;
						   }
						   .offcanvas-body {
							   margin: auto;
							   height: 650px;
						   }
.offcanvas {
	background-color: #292b34!important;
}

.primary {
	color: #f8f6f1;
}
.menu-item {
	width: 100%;
	margin: 30px 0;
	border-bottom: 1px solid #f8f6f168;
	position: relative;
}
.menu-item::after {
    position: absolute;
    bottom: -1px; 
    right: 0;
    content: '';
    height: 1px;
    background-color: #f8f6f1;
    width: 0%; 
    transition: width 0.6s ease-in-out; 
}

.menu-item:hover::after {
    width: 100%; 
}
.project-count {
	color: #f8f6f168;
}
.menu-item:hover a {
	color: #f8f6f1;
}
.menu-item:hover .project-count {
	color: #f8f6f1;
}
.menu-item:not(:hover) a {
	color: #f8f6f168;
}
.menu-item a {
	color: #f8f6f1;
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 65px;
  text-align: end;
  float: right;
}
.offcanvas {
	width: 100%!important;
	background-color: #292b34;
	height: 100vh!important;
}

p {
	font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #f8f6f168;
}
a{
	font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}



.link_hover,
.link_hover:after,
.link_hover:before {
transition: all .5s;
}
/* stroke */
.link_hover {
position: relative;
color: #131212;
cursor: pointer;
}
.link_hover:after{
position: absolute;
bottom: -3px;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #292b34;
height: 1px;
}
.link__hover,
.link__hover:after,
.link__hover:before {
transition: all .5s;
}
/* stroke */
.link__hover {
position: relative;
color: #f8f6f1;
cursor: pointer;
}
.link__hover:after{
position: absolute;
bottom: -3px;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #f8f6f1;
height: 1px;
}
.project-content ul {
	list-style-type: none;
	padding-left: 0;
}
.link_hover:hover:after {
width: 100%;
}
.link__hover:hover:after {
	width: 100%;
	}
.exprole-link {
	font-size: 14px;
}

@media screen and (max-width: 600px) and (min-width: 300px) {
	
	p,a {
		font-size: 14px;
	  }
	  .menu-item a {
		
		font-size: 30px;
		text-align: end;
		float: right;
		margin-right: 40px;
	}
	.offcanvas-body {
		margin: auto;
		height: 550px;
	}

	#projects {
		padding: 10px;
		padding-top: 50px;
	}
	.tabs {
		flex-wrap: wrap;
	}
	.tab-item {
		margin-bottom: 8px;
	}
	.project-item h2 {
		
		font-size: 22px;
		
		line-height: 37px;
	
	}
	.paginatiion {
		margin-top:40px;
	}
  }